<ion-header>
  <ion-navbar color="primary">
    <ion-title>Ajustes</ion-title>

    <button ion-button icon-only item-left menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="activarPrincipal()">
    Activar Principal
  </button>

  <button ion-button block color="morado" (click)="mostrarModal()">
    Mostrar modal
  </button>
</ion-content>
