<ion-header>
  <ion-navbar color="primary">
    <ion-title>pagina2</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Enviando con evento</h1>

  <ion-list>
    <button
      ion-item
      *ngFor="let mutante of mutantes"
      (click)="irPagina3(mutante)"
    >
      {{mutante.nombre}}
    </button>
  </ion-list>

  <h1>Enviando con HTML</h1>

  <ion-list>
    <button
      ion-item
      *ngFor="let mutante of mutantes"
      [navPush]="pagina3"
      [navParams]="{'mutante': mutante}"
    >
      {{mutante.nombre}}
    </button>
  </ion-list>
</ion-content>
