<ion-header>
  <ion-navbar color="primary">
    <ion-title>Principal - Root</ion-title>

    <button ion-button icon-only (click)="mostrarMenu()" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="primary" block (click)="navegarPagina()">
    Ir página 2
  </button>

  <button ion-button color="secondary" block [navPush]="pagina2">
    Ir página 2 - HTML
  </button>
</ion-content>
