<ion-tabs color="primary" selectedIndex="2">
  <ion-tab tabIcon="hammer" tabTitle="Ajustes" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="hammer" tabTitle="Ajustes" [root]="tab2"></ion-tab>

  <ion-tab tabIcon="alarm" tabTitle="Principal" [root]="tab1"></ion-tab>

  <ion-tab tabIcon="hammer" tabTitle="Ajustes" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="hammer" tabTitle="Ajustes" [root]="tab2"></ion-tab>
</ion-tabs>
