<ion-header>
  <ion-navbar color="morado">
    <ion-title>Página Modal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Modal</h1>

  <button ion-button block color="primary" (click)="cerrarConParamentros()">
    Cerrar con Parámetros
  </button>
  <button ion-button block color="morado" (click)="cerrarSinParamentros()">
    Cerrar sin Parámentros
  </button>
</ion-content>
