<ion-header>
  <ion-navbar>
    <ion-title>{{mutante.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h3 text-center>{{mutante.poder}}</h3>

    <img [src]="mutante.img" alt="" srcset="" />
  </div>
  <div>
    <button ion-button color="primary" block (click)="irAtras()">
      ir atras con evento
    </button>
    <button ion-button color="secondary" block (click)="irRoot()">
      ir al root
    </button>
    <button ion-button color="danger" block navPop>ir atras sin evento</button>
  </div>
</ion-content>
