<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="morado">
      <ion-title>Páginas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="abrirPagina(tabs)">Abrir Tabs</button>
      <button ion-item (click)="abrirPagina(ajustes2)">Abrir Ajustes 2</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
